#======================================
# Ignore Windows Zone Identifier files
#======================================

models/*.Identifier
*.identifier
*.Zone.Identifier

#============================
# Ignore virtual environment
#============================

wars-backend/*

#====================
# Ignore build files
#====================

ml/__pycache__
